body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    text-align: center;
  }
  
  .container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cccccc;
    margin: 16px auto;
    padding: 40px;
    width: 500px;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 50px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  a {
    background-color: #1e90ff;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    margin-top: 16px;
  }
  
  .logo {
    display: block;
    height: auto;
    margin: 0 auto 16px;
    width: 150px;
  }
